@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Velkommen til Hillerød Sejlklub</h1>
    <p>Sejlsport for alle!</p>
</div>

<div>
    <img class= "center" src="~/images/hillerødimage.jpg" />
</div>
